<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User App</title>
</head>
<body>
    <nav>
        <ul>
            <!-- if the user is logged in... -->
            <!-- all data in the res.locals is usable in the layout -->
            <% if (user) { %>
                <!-- <li>
                    <a href="/users/profile">Profile</a>
                </li> -->

                <li>
                    <a href="/users/logout">Logout</a>
                </li>

                <li>
                    <a href="/users/update">Update account info</a>
                </li>

                <li>
                    <a href="/users/albums">View Your Collection</a>
                </li>

                <li>
                    <a href="/users/profile">Add to collection</a>
                </li>

            <% } else { %>
                <li>
                    <a href="/users/new">Sign Up</a>
                </li>
    
                <li>
                    <a href="/users/login">Login</a>
                </li>
            <% } %> 
        </ul>
    </nav>

    <h1>🎵 Record Collection Catalog 🎵</h1>

    <%- body %>
</body>
</html>