<h1><%=  album.title %></h1>
<p><%=  album.artist %></p>


<form method="POST" action="/faves">
    <input hidden value="<%= album.title %>" name="title">
    <input hidden value="<%= album.artist %>" name="imdbid">
    <button type="submit">Add this album to collection</button>
</form>