<h2>Welcome to your profile <%= user.email %>! 🎉</h2>

<h1>Last.FM Search</h1>
<p>Search for an album below...</p>

<form method="GET" action="/users/search">
  <label for="search"></label>
  <input type="text"  id="search" name="albumSearch" />

  <input type="submit" />
</form>