<h1>Last.FM Search</h1>
<p>Search for an album below...</p>

<form method="GET" action="/results">
  <label for="search"></label>
  <input type="text"  id="search" name="albumSearch" />

  <input type="submit" />
</form>