
<h2>Update your email and/or password</h2>




<form method="POST" action="/users/<%= user.id %>?_method=PUT">
    <input type="hidden" name="_method" value="put">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" required>

    <label for="password">Password:</label>
    <input id="password" type="password" name="password" required>

    <button type="submit">Update user email and/or password</button>
</form>
